<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <div class="container">
        <header>
            <%- include('./partials/header') %>
        </header>
        <section class="active-bar-signup">
            <div class="active-bar"></div>
        </section>
        <form action="/signup" method="POST">
            <label for="fullname"><span>Full Names</span>
                <input type="text" name="fullname" id="fullname" placeholder="Joe Doe" required>
            </label><br>
            <label for="username"><span>Username</span>
                <input type="text" name="username" id="username" placeholder="joe" required>
            </label><br>
            <label for="email"><span>Email</span>
                <input type="email" name="email" id="email" placeholder="example@gmail.com" required>
            </label><br>
            <label for="password"><span>Password</span>
                <input type="password" name="password" id="password" placeholder="password" required>
            </label><br>
            <label for="password"><span>Confirm Password</span>
                <input type="password" name="con-password" id="con-password" placeholder="confirm password" required>
            </label><br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <script src="js/script.js"></script>
</body>
</html>